#home {
    max-width: 100%;
    height: 100vh;
    background-image: url('../assets/home1920.png');
    background-size: cover;
}

#home {
    color: #072331;
}

.home-content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 4rem;
    padding-top: 6rem;
}

.slogan {
    font-size: 3rem;
    color: #033249;
    max-width: 70vw;
    text-shadow: 0px 3px 10px #00000029;
    font-family: 'Manrope', sans-serif;
}

.botao-saiba-mais {
    width: 7rem;
    height: 3rem;
    margin-top: 1.8rem;
    background-color: #033249;
    box-shadow: 0px 4px 6px #00000029;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    transform: scale(1);
    transition: all 0.2s ease;
}

.botao-saiba-mais:hover {
    transform: scale(1.06);
}

#sobre {
    width: 100%;
    height: 100vh;
    display: flex;
}

.imagem-sobre {
    width: 50%;
    height: 100%;
    background-size: cover;
}

.lado-esquerdo-sobre {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6rem 8rem 0 8rem;
}

.quem-somos {
    font-size: 4rem;
    color: #ff8038;
    font-family: 'Manrope', sans-serif;
    font-weight: lighter;
    text-align: center;
}

.quem-somos-conteudo {
    width: 40vw;
    color: #40454A;
    margin-top: 4rem;
    text-align: center;
    font-size: 1.25rem;
}

#solucoes {
	background-image: url('../assets/solucoes.png');
	background-size: cover;
	height: 100vh;
	width: auto;
	display: grid;
	padding: 0 9rem;
	font-family: 'Manrope', sans-serif;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.titulo-solucoes {
	font-size: 3.75rem;
	color: #fff;
	font-weight: bolder;
	text-shadow: 0px 3px 10px #00000029;
}

.box-container {
	display: flex;
    justify-content: center;
    color: #40454A;
}

.box {
	width: 35vw;
    height: 36vh;
    padding: 1.5rem 2.3rem;
	background-color: #fff;
	display: flex;
	flex-direction: column;
    align-items: center;
    justify-content: space-around;
    box-shadow: 3px 10px 6px #00000029;
    text-align: center;
}

.box:hover {
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

#icon {
	color: orange;
    font-size: 3rem;
}

.titulo-box {
    width: 20vw;
    font-size: 1.125rem;
}

.texto-box {
    width: 30vw;
    text-align: center;
    font-size: 0.875rem;
}

.primeira-box {
	margin-right: 5rem;
}

#contato {
	background-image: url('../assets/contato1920.png');
	background-size: cover;
	height: auto;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input {
    background-color: #fff;
    border-radius: 6px;
}

.input-grande {
    width: 55vw;
}

.input-meio {
    display: flex;
    width: 100%;
}

.input-pequeno {
    width: 27vw;
}

.input-pequeno:first-child {
    margin-right: 0.875rem;
}

@media screen and (max-width: 960px) {
    #home img {
        margin-top: -80px;
        max-width: 100%;
        height: auto;
    }

    .slogan {
        font-size: 2.20rem;
        color: #033249;
        max-width: 70vw;
    }

    .botao-saiba-mais {
        width: 40%;
    }  

    #sobre {
        height: auto;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .imagem-sobre, .lado-esquerdo-sobre {
        height: auto;
        width: 100%;
    }

    .lado-esquerdo-sobre {
        padding: 2rem 0;
    }

    .quem-somos {
        font-size: 3rem;
    }

    .quem-somos-conteudo {
        margin-top: 1rem;
        width: 80vw;
    }

    .lado-esquerdo-sobre {
        padding: 4.5rem 0;  
    }

    .input-pequeno {
        width: 53%;
    }
    
}

@media screen and (max-width: 800px) {
    .home-content {
        align-items: center;
        padding: 0;
    }

    .slogan {
        text-align: center;
    }

    .botao-saiba-mais {
        width: 50%;
    }

    #sobre {
        height: auto;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .imagem-sobre, .lado-esquerdo-sobre {
        height: auto;
        width: 100%;
    }

    #solucoes {
        align-items: center;
        text-align: center;
        background-size: cover;
        padding: 9rem 2rem;
    }

    .titulo-solucoes {
        margin-bottom: 8rem;
    }

    .input-meio {
        flex-direction: column;
    }

    .input-pequeno {
        width: 100%;
    }
}

@media screen and (max-width: 700px) {
    #solucoes {
        height: auto;
    }

    .box-container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .box {
        height: auto;
        width: 60vw;
    }

    .titulo-box {
        width: 40vw;
        margin-top: 1.5rem;
    }

    .texto-box {
        width: 50vw;
        margin-top: 2rem;
    }

    .primeira-box {
        margin-right: 0;
        margin-bottom: 5rem;
    }
}

@media screen and (max-width: 400px) {
    .slogan {
        font-size: 1.7rem;
    }

    .box {
        width: 80vw;
    }

    .titulo-box {
        width: 60vw;
    }

    .texto-box {
        width: 70vw;
    }
}
