#rodape {
	width: auto;
	height: 14rem;
	background-color: #072331;
	color: #fff;
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	padding: 1.25rem;
	font-size: 1.25rem;
	font-family: 'Roboto', sans-serif;
}

#rodape a {
	text-decoration: none;
	color: #fff;
}

.lado-direitro-rodape {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.logo-rodape {
	height: 3rem;
	width: 15rem;
}

.endereco-email {
	font-weight: bold;
}

.endereco-fisico-comeco {
	display: flex;
}

.lado-esquerdo-rodape {
	height: 50%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.lista {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.lista-item {
	width: 2.75rem;
	height: 2.75rem;
	border: 1px solid #fff;
	border-radius: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all ease 0.2s;
}

.lista-item:hover {
	background-color: rgba(255, 128, 56, 0.5);
}

.item-meio {
	margin: 0 0.8rem;
}

@media (max-width: 960px) {
	#rodape {
		height: auto;
		flex-direction: column;
		align-items: center;
	}

	.lado-direitro-rodape {
		align-items: center;
	}

	.endereco-email {
		margin: 1rem 0;
	}

	.endereco-fisico {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.lista {
		margin: 0.7rem 0;
	}
}

@media (max-width: 380px) {
	.endereco-fisico-comeco {
		flex-direction: column;
		align-items: center;
	}
}

@media (max-width: 333px) {
	.endereco-fisico-comeco {
		font-size: smaller;
	}
}